{% extends 'padre.html'%}
{%load static%}
{%block titulo%}
Sobre mi
{%endblock%}
{%block contenido%}
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="{%static 'AppUsuarios/assets/img/sobre-mi-foto.jpeg'%}" class="rounded img-fluid">
      </div>
      <div class="col-sm-6">
        <h1>Ana Lucia Ortiz Gonzalez</h1>
        <p>Soy Lucía, tengo 25 años y soy de Panamá. Actualmente me dedico a la docencia. Empecé a codear con python este año ya que siempre me llamó la atención y en cuanto tuve la oportunidad de poder aprender de este lenguaje, no dude en hacerlo. Tengo varios pasatiempos como bailar, hacer cerámica o leer. Me gusta la idea de ser una persona multifacetica, de tener el impulso de hacer o aprender cosas nuevas. Suelo pasar mi tiempo leeyendo, por ende se me ocurrió la idea de hacer esta página.</p>
      </div>
    </div>
  </div>

{%endblock%}